.title{
  color: royalblue;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}

.Container{
  padding: 50px;
}

.banner{
  padding: 40px;
}

    /*j'arrive pas avec la partie div à bien comprendre de A à Z comment tout relier et où mettre les éléments*/
